<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<script>
  window.is_calcBanksOrder = [2,3,16,15,14,13,12,11,10,9,8,7,6,5,3,1,0];
  window.is_calcBanks = {
   0: {
      id: 0,
      title: 'Сбербанк',
      manager: 'Дельвер Екатерина',
      phone: '+7 (967) 607-98-20',
      logo: '/images/sberbank.png',
      color: 'green'
    },
   1: {
      id: 1,
      title: 'ВТБ',
      manager: 'Григоренко Елена',
      phone: '+7 (950) 977-79-95',
      logo: '/images/vtb.png',
      color: 'darkblue'
    },
   2: {
      id: 2,
      title: 'Газпромбанк',
      manager: 'Улько Алексей Викторович',
      phone: '+7 (905) 976-48-52',
      logo: '/images/gazprombank.png',
      color: 'lightblue'
    },
   3: {
      id: 3,
      title: 'АК БАРС',
      manager: 'Отрутько Виктор',
      phone: '+7 (923) 276-49-00',
      logo: '/images/akbars.png',
      color: 'green'
    },
   4: {
      id: 4,
      title: 'Совкомбанк',
      manager: 'Потехина Анастасия',
      phone: '+7 (913) 198-28-19',
      logo: '/images/sberbank.png',
      color: 'lightblue'
    },
   5: {
      id: 5,
      title: 'Банк «ДОМ.РФ»',
      manager: 'Нежевлева Анастасия',
      phone: '+7 (913) 031-44-47',
      logo: '/images/vtb.png',
      color: 'darkblue'
    },
   6: {
      id: 6,
      title: 'Россельхозбанк',
      manager: 'Бекшаева Инна',
      phone: '+7 (913) 184-72-24',
      logo: '/images/gazprombank.png',
      color: 'green'
    },
   7: {
      id: 7,
      title: 'Абсолют Банк',
      manager: 'Коротких Юлия',
      phone: '+7 (905) 976-80-90',
      logo: '/images/akbars.png',
      color: 'lightblue'
    },
   8: {
      id: 8,
      title: 'Промсвязьбанк',
      manager: 'Муленко Елена',
      phone: '+7 (933) 331-50-86',
      logo: '/images/sberbank.png',
      color: 'darkblue'
    },
   9: {
      id: 9,
      title: 'Райффайзенбанк',
      manager: '',
      phone: '',
      logo: '/images/vtb.png',
      color: 'green'
    },
   10: {
      id: 10,
      title: 'СвязьБанк',
      manager: 'Лопатина Полина',
      phone: '+7 (983) 269-34-39',
      logo: '/images/gazprombank.png',
      color: 'lightblue'
    },
   11: {
      id: 11,
      title: 'Банк «Открытие»',
      manager: 'Ярослав Лейман',
      phone: '+7 (933) 334-82-52',
      logo: '/images/akbars.png',
      color: 'darkblue'
    },
   12: {
      id: 12,
      title: 'БИНБАНК',
      manager: 'Ярослав Лейман',
      phone: '+7 (933) 334-82-52',
      logo: '/images/sberbank.png',
      color: 'green'
    },
   13: {
      id: 13,
      title: 'Росбанк Дом',
      manager: 'Полунченко Далер',
      phone: '+7 (914) 941-60-80',
      logo: '/images/vtb.png',
      color: 'lightblue'
    },
   14: {
      id: 14,
      title: 'Альфа-банк',
      manager: 'Сметанина Елена',
      phone: '+7 (923) 271-15-92',
      logo: '/images/gazprombank.png',
      color: 'darkblue'
    },
   15: {
      id: 15,
      title: 'Левобережный',
      manager: 'Скрябина Елена Алексеевна',
      phone: '+7(913) 534-73-01',
      logo: '/images/gazprombank.png',
      color: 'green'
    },
   16:{
      id: 16,
      title: 'ВТБ Банк Москвы',
      manager: 'Коренева Ольга Сергеевна',
      phone: '+7(913) 030-04-47',
      logo: '/images/gazprombank.png',
      color: 'green'
    }
  };

  window.is_calcObjects = [
    {
      id: 0,
      title: 'Южный берег',
      img: '/images/objects/south-coast.jpg',
      link: '#',
      flats: [
        {price: 1231231}, {price: 1000000}, {price: 500000}, {price: 1231231}, {price: 7500000}, {price: 100000}
      ],
      accredited: [
        {
          liter: '15',
          banks: [0, 1, 2, 3, 4,  5, 6, 7,  8, 10, 11, 12, 13, 14, 15]
        },
        {
          liter: '16',
          banks: [0, 1, 2, 3, 4,  5, 6, 7,  8, 10, 11, 12, 13, 14, 15, 16]
        },
        {
          liter: '17 оч. 1',
          banks: [0, 1, 2, 5, 6, 7, 9, 10, 11, 12, 13]
        },
        {
          liter: '17 оч. 2',
          banks: [0, 1, 2, 5, 6, 7, 9, 10, 11, 12, 13, 14]
        },
        {
          liter: '26',
          banks: [0, 1, 2, 5, 11, 13, 14]
        },
        {
          liter: '20',
          banks: [0, 1, 2, 5, 11, 14]
        },
        {
          liter: '18',
          banks: [0, 1, 2, 5, 14]
        }
      ]
    },
    {
      id: 1,
      title: 'Образцово',
      img: '/images/objects/obraztsovo.jpg',
      link: '#',
      flats: [
        {price: 250000}, {price: 1000000}, {price: 2200000}, {price: 1231231}, {price: 1000000}, {price: 100000}
      ],
      accredited: [
        {
          liter: '3',
          banks: [0, 1, 2, 3, 5, 7, 10, 11, 12, 13, 14]
        },
        {
          liter: '4',
          banks: [0]
        }
      ]
    },
    {
      id: 2,
      title: 'Бограда 109',
      img: '/images/objects/bograda-109.jpg',
      link: '#',
      flats: [
        {price: 1231231}, {price: 1000000}, {price: 100000}, {price: 1231231}, {price: 1000000}, {price: 100000}, {price: 100000}, {price: 100000}, {price: 100000}
      ],
      accredited: [
        {
          liter: 'Дом 1',
          banks: [0, 1, 2, 5, 11, 13, 14]
        },
        {
          liter: 'Дом 2',
          banks: [0, 1, 2, 5, 11, 14]
        }
      ]
    },
    {
      id: 3,
      title: 'Александровский',
      img: '/images/objects/aleksandrovskiy.jpg',
      link: '#',
      flats: [
        {price: 1231231}, {price: 1000000}, {price: 500000}, {price: 777666}, {price: 1000000}, {price: 888888}
      ],
      accredited: [
        {
          liter: '1',
          banks: [0, 1, 2, 3, 11, 14]
        }
      ]
    },
    {
      id: 4,
      title: 'Академгородок',
      img: '/images/objects/akademgorodok.jpg',
      link: '#',
      flats: [
        {price: 1231231}, {price: 10000000}, {price: 100000}, {price: 1231231}, {price: 100}, {price: 999999}, {price: 999999}
      ],
      accredited: [
        {
          liter: '1 корп. 1',
          banks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
        },
        {
          liter: '1 корп. 3',
          banks: [0, 1, 2, 5, 4, 7, 3, 8, 10, 11, 12, 13, 14]
        },
        {
          liter: '1 корп. 2',
          banks: [0 , 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14]
        },
        {
          liter: '2',
          banks: [0, 1, 2, 5, 10, 11, 13, 14]
        },
        {
          liter: '4',
          banks: [1, 2, 5, 11]
        }
      ]
    },
    {
      id: 5,
      title: 'Взлетная',
      img: '/images/objects/akademgorodok.jpg',
      link: '#',
      flats: [
        {price: 1231231}, {price: 10000000}, {price: 100000}, {price: 1231231}, {price: 100}, {price: 999999}, {price: 999999}
      ],
      accredited: [
        {
          liter: '1',
          banks: [0, 1, 2, 5, 10, 11, 12, 13, 14]
        }
      ]
    }
  ];
</script>

<h2 class="sm-calculator__title">Ипотека</h2>
<div id="calculator-app" class="sm-calculator">
  <div class="sm-calculator__settings-wrapper">
    <div class="sm-calculator__settings">
      <div class="sm-calculator__settings-panel">

        <span class="sm-calculator__title sm-calculator__title_secondary">Параметры</span>
        <div class="sm-calculator">
          <div class="sm-calculator__input-group">
            <label
                    for="sm_calculator_price_2" class="sm-calculator__label"
            >
              Стоимость объекта</label>
            до <input class="sm-calculator__input" type="text"
                      id="sm_calculator_price_2"
                      :value="(price[1] + '').replace(/(\d)(?=(\d{3})+([^\d, ₽]|$))/g, '$1 ') + ' ₽'"
                      @click="clearRub"
                      @blur="updatePrice"
          >
          </div>
          <vue-slider
              class="sm-calculator__input_price"
              v-model="price"
              :min="0"
              :max="20000000"
              :interval="1"
          ></vue-slider>
          <div class="sm-calculator__input-group">
            <label for="sm_calculator_first_pay" class="sm-calculator__label">Первоначальный взнос</label>
            до <input
              class="sm-calculator__input" type="text" id="sm_calculator_first_pay"
              :value="(firstPay + '').replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ') + ' ₽'"
              @click="clearRub"
              @blur="updateFirstPay"
          >
          </div>
          <vue-slider
              class="sm-calculator__input_first_pay"
              v-model="firstPay"
              :min="0"
              :max="20000000"
              :interval="1"
          ></vue-slider>
          <div class="sm-calculator__input-group">
            <label for="sm_calculator_percent" class="sm-calculator__label">Ипотечная ставка</label>
            до <input class="sm-calculator__input" type="text"
                      id="sm_calculator_percent"
                      :value="mortgagePercent + '%'"
                      @blur="updatePercents"
                      @click="clearPercent"
          >
          </div>
          <vue-slider
              class="sm-calculator__input_percent"
              v-model="mortgagePercent"
              :min="0.1"
              :max="25"
              :interval="0.1"
          ></vue-slider>
          <div class="sm-calculator__input-group">
            <label for="sm_calculator_period" class="sm-calculator__label">Срок кредита</label>
            <input class="sm-calculator__input" type="text" id="sm_calculator_period"
                   :value="creditPeriod + ' ' + creditPeriodRu"
                   @blur="updatePeriod"
                   @click="clearPeriodRu"
            >
          </div>
          <vue-slider
              class="sm-calculator__input_period"
              v-model="creditPeriod"
              :min="0"
              :max="30"
              :interval="1"
              :marks="marks"
          ></vue-slider>
        </div>
        <div class="sm-calculator__total">
          <div class="sm-calculator__title sm-calculator__title_small">
            Ваш ежемесячный аннуитетный платеж:
          </div>
          <div class="sm-calculator__annuitet">
            <span
                class="sm-calculator_pay-per-month">{{ (annuitet + '').replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 ') }}</span>
            ₽/мес
          </div>
        </div>
      </div>
      <div class="sm-calculator__disclaimer">
        <p>Приведенные расчеты носят предварительный характер. Окончательный расчет суммы кредита и размер ежемесячного платежа производятся банком после предоставления полного комплекта документов и проведения оценки платежеспособности клиента.</p>
      </div>
    </div>

    <div class="sm-calculator__banks">
      <div class="sm-calculator__bank-pane-wrapper" v-for="(bank, key, i) in banks" v-if="i<6">
        <div
            :class="'sm-calculator__bank-pane sm-calculator__bank-pane_bg-' + bank.color"
            :data-bank-id="bank.id"
            @click="showModal(bank.id)"
        >
          <div class="sm-calculator__bank-icon" :style="'background-image: url(' + bank.logo + ')'"></div>
          <div class="sm-calculator__bank-title">{{ bank.title }}</div>
        </div>
      </div>

      <div class="sm-calculator__expander">
        <div class="sm-calculator__expander-content" v-if="spoilerOpened">
          <div class="sm-calculator__bank-pane-wrapper" v-for="(bank, key, i) in banks">
            <div
                :class="'sm-calculator__bank-pane sm-calculator__bank-pane_bg-' + bank.color"
                :data-bank-id="bank.id" v-if="i>=6"
                @click="showModal(bank.id)"
            >
              <div class="sm-calculator__bank-icon" :style="'background-image: url(' + bank.logo + ')'"></div>
              <div class="sm-calculator__bank-title">{{ bank.title }}</div>
            </div>
          </div>
        </div>
        <div class="sm-calculator__expander-spoiler" @click="spoilerOpened = !spoilerOpened"
             :class="{ 'js-opened': spoilerOpened }">
          <span class="sm-calculator__expander-text">Еще {{ Object.keys(banks).length - 6 }} {{ $sklonyator(Object.keys(banks).length - 6, ['программа', 'программы', 'программ']) }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-calculator__objects-title">
    Под ваши условия подходят квартиры в {{ fitObjects.length }} {{ ourProjectsLocal }}
  </div>
  <div class="sm-calculator__objects-wrapper">
    <div class="sm-calculator__object"
         v-for="object in fitObjects"
         :href="object.link"
    >
      <div class="sm-calculator__object-wrapper" :style="object.bg">
        <a class="sm-calculator__object-title" :href="object.link">{{ object.title }}</a>
        <a class="sm-calculator__object-link" :href="object.link">О проекте →</a>
        <a class="sm-calculator__object-flats-info" :href="object.link">
          <div class="sm-calculator__object-flats-title">Квартир</div>
          <div class="sm-calculator__object-flats-number" :class="{'is-smaller' : (object.flats + '').length > 2}">{{ object.flats }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="sm-calculator__accreditation">
    <div class="sm-calculator__accreditation-title">Проверить аккредитацию дома</div>
    <div class="sm-calculator__accreditation-header">
      <div class="sm-calculator__accreditation-header-left">
        <select type="text" class="sm-calculator__accreditation-select sm-calculator__accreditation-select_jk" placeholder="Проект"
                v-model="accredJKSelected"
                @change="resetAccredObj"
                @click="showAccredInfo = false"
        >
          <option :value="null" disabled>Проект</option>
          <option v-for="object in objects" :value="object.id">
            {{ object.title }}
          </option>
        </select>

        <select type="text" disabled class="sm-calculator__accreditation-select sm-calculator__accreditation-select_object" v-if="accredJKSelected === null">
          <option :value="null" disabled>Дом</option>
        </select>

        <select type="text" class="sm-calculator__accreditation-select sm-calculator__accreditation-select_object" v-if="accredJKSelected !== null" v-model="accredObjectSelected">
          <option :value="null" disabled>Дом</option>
          <option v-for="(object,i) in objects[accredJKSelected].accredited" :value="i"
          >{{ object.liter }}</option>
        </select>
        <button class="sm-calculator__accreditation-show-btn" disabled @click.prevent="showAccredInfo = true" :disabled="!accredBanks.length>0">Показать</button>
      </div>
      <div class="sm-calculator__accreditation-header-right">
        {{ $sklonyator(accredBanks.length, ['нашлась', 'нашлось', 'нашлось']) }} <span class="sm-calculator__accreditation-header-number">{{ accredBanks.length }}</span> {{ $sklonyator(accredBanks.length, ['программа', 'программы', 'программ']) }}
      </div>
    </div>
    <div class="sm-calculator__accreditation-bank-panes" v-if="accredBanks.length > 0 && showAccredInfo">
      <div
          :class="'sm-calculator__accreditation-bank-pane sm-calculator__accreditation-bank-pane'" :style="'background-color:' + banks[i].color + ';'"
          v-for="i in accredBanks"
      >
        <div class="sm-calculator__accreditation-bank-pane-left">
          <div class="sm-calculator__accreditation-bank-pane-logo"
               :style="'background-image: url(' + banks[i].logo + ')'"
          ></div>
          <div class="sm-calculator__accreditation-bank-pane-title">
            {{ banks[i].title }}
          </div>
        </div>
        <div class="sm-calculator__accreditation-bank-pane-center">
          <div class="sm-calculator__accreditation-bank-pane-description">
            подробную информацию о программах можно уточнить у специалиста банка
          </div>
          <div class="sm-calculator__accreditation-bank-pane-manager">
            {{ banks[i].manager }}
          </div>
        </div>
        <div class="sm-calculator__accreditation-bank-pane-right">
          <a
              class="sm-calculator__accreditation-bank-pane-phone-wrapper"
              :href="'tel:' + banks[i].phone.replace(/[\s,(,),\-]/g,'')"
          >
            <div class="sm-calculator__accreditation-bank-pane-phone-icon"></div>
            <div class="sm-calculator__accreditation-bank-pane-phone-number">
              {{ banks[i].phone }}
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

  <modal name="bank-contacts" class="sm-calculator__modal" width="400px">
    <div class="sm-calculator__modal-title">Контактная информация банка</div>
    <div class="sm-calculator__modal-manager-name">{{ banks[bankModal].manager }}</div>
    <a class="sm-calculator__modal-manager-phone"
      :href="'tel:' + banks[bankModal].phone.replace(/[\s,(,),\-]/g,'')"
    >
      {{ banks[bankModal].phone }}
    </a>
    <div class="sm-calculator__modal-bank-info">
      <div class="sm-calculator__modal-bank-info-wrapper">
        <div class="sm-calculator__modal-bank-logo" :style="'background-image: url(' + banks[bankModal].logo + ')'"></div>
        <div class="sm-calculator__modal-bank-title">{{ banks[bankModal].title }}</div>
      </div>
    </div>
  </modal>
</div>
<div class="sm-calculator__seo-block">
  SEO Lorem SEO ipsum dolor sit SEO amet, consectetur adipisicing elit. Accusamus alias aperiam architecto aspernatur assumenda autem cum dicta eaque explicabo, facere fugit harum hic illum incidunt ipsam iure iusto labore laudantium magnam magni, nam nesciunt numquam odio perferendis quas repellat reprehenderit sint sunt totam ullam ut veniam voluptatem voluptatibus? Aliquid, assumenda dignissimos dolor dolore eaque enim eveniet hic maxime, minus mollitia nobis non numquam odio perferendis, perspiciatis praesentium quas saepe sequi similique tempore temporibus unde voluptatibus. Culpa cumque deleniti, harum quibusdam reprehenderit voluptatibus? At facilis fugit id in ipsa libero molestias, numquam, provident qui, quia quidem suscipit tempore unde ut voluptatem!
</div>
</body>
</html>