$biscay: #1E3262;
$black: #000;
$cerulean: #009FDF;
$concrete: #f2f2f2;
$curious-blue: #2d9cdb;
$forest-green: #1a9f29;
$mercury: #e5e5e5;
$mine-shaft: #333333;
$royal-blue: #2f80ed;
$silver: #c4c4c4;
$white: #fff;

$bank-green: $forest-green;
$bank-lightblue: $cerulean;
$bank-darkblue: $biscay;